
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face
{
font-family:'CaviarDreamsBold';
src: url('CaviarDreams_Bold.ttf') format('TrueType');
}
@font-face
{
font-family:'CaviarDreams';
src: url('CaviarDreams.ttf') format('TrueType');
}


body, button{
  background: #eee;
  font-family: 'Hind', sans-serif;

}



#myheader h1 {
  font-family:  'CaviarDreamsBold';
  color: #eee;
  font-size: 4.25em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;

  text-align: center;
}

#nav{
  text-align: center;
}

#nav a{
  font-family:  'CaviarDreams';
  color: #eee;
  font-size: 1.25em;
  text-decoration: none;
}

#nav a:hover{
 
  color: #ED6666;
}

.controls{
  padding: 1.5% ;
  padding-left: 6%;
  background: #333;
  color: #eee;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  border-radius: 0.2em;
  cursor: pointer;
  margin-bottom: 1em;
}

button.active{
  background: #ED6666;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 6% 6%;
  text-align: justify;
  font-size: 0.1px;
  background: #eee; /*68b8c4;*/
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  /*background:  #ED6666;*/
  margin-bottom: 2%;
  display: none;
}

 .normaltext{
  width: 75%;
  padding: 1% 6% 0;
  text-align: justify;
  background: #eee; 
  padding-top: 3.5%;
  padding-bottom: 5%;
}


.normaltext p{
  font-family: 'Hind', sans-serif;
  font-size: 1.25em;
  padding-bottom: 1.25em;
  line-height: 1.25em;

}

.normaltext a{
  font-family: 'Hind', sans-serif;
  font-size: 1.5em;
  color: #ED6666;
  text-decoration: none;
  padding-bottom: 0;

}

.normaltext a:hover{
  text-decoration: underline;

}


.mix img{
  display: block;
  margin:0 auto;
  max-width: 100%;
  height:auto;
  max-height:200px;


}



.container .mix.category-1{
  /*border-top: 2px solid limegreen;*/
}

.container .mix.category-2{
 /* border-top: 2px solid yellow;*/
}

.container .mix:after{
  /*content: attr(data-myorder);*/
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 2% 4%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
/*  padding-top: 2%;*/
}


.not-for-large{
  display: inline-block;
}

.not-for-small{
  display: none;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

  #myheader{
    font-size: 6.5em;
  }

   .container .mix,
  .container .gap{
    width: 48%;
  }
  
  .normaltext{
  width: 100%;
  padding-top: 12.5%;
 }
 .normaltext p{
  font-size: 1.05em;
  padding-bottom: 1.1em;
  line-height: 1.1em;
 }
}

/* Larger than phablet */
@media (min-width: 550px) {

 

  .container .mix,
  .container .gap{
    width: 32%;
  }

   #myheader{
    font-size: 5.5em;
  }

  .normaltext{
  width: 95%;
  padding-top: 10%;
 }
 .normaltext p{
  font-size: 1.15em;
  padding-bottom: 1.15em;
  line-height: 1.15em;
 }
}

/* Larger than tablet */
@media (min-width: 750px) {

  

  #myheader h1,
  #nav{
    text-align: left;
  }

  #myheader h1{
    font-size: 5em;
  }

  .container .mix,
  .container .gap{
    width: 23.5%;
  }

  .not-for-large{
    display: none;
  }


  .not-for-small{
     display: inline-block;
  }


  
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



#pick{
  float:right;
  margin-bottom: 10px;
}
