
/*
body {
  background-color: black;
  color: white;
}
*/

@font-face
{
/*
font-family:'texGyreBonum';
src: url('fonts/tex-gyre-bonum.italic.otf') format('OpenType');
*/
font-family:'Schola';
src: url('fonts/texgyreschola-italic.otf') format('OpenType');

}


#namesP{
	text-align: center;
	font-family:  'Amiri';
	/* font-family: 'Lateef'; */
	font-size: 1.5em;

}

#hint{
	float:right;
	text-align: right;
}

