
/*
body {
  background-color: black;
  color: white;
}
*/

@font-face
{
/*
font-family:'texGyreBonum';
src: url('fonts/tex-gyre-bonum.italic.otf') format('OpenType');
*/
font-family:'Schola-Italic';
src: url('fonts/texgyreschola-italic.otf') format('OpenType');

}


@font-face
{

font-family:'Schola';
src: url('fonts/texgyreschola-regular.otf') format('OpenType');

}

#infoicon{
	position: absolute;
	margin: 0 auto;
	bottom: 3vh;
	left: 47%;
	width: 6%;
	height:auto;
}


