
/* always show scroll bar */
html {
    overflow-y:scroll; 
}

body {
  background-color: white;
  color: black;
  direction: rtl;
}
/*
@font-face
{
font-family:'Amiri';
src: url('fonts/Amiri-Regular.ttf') format('TrueType');
}
*/

@font-face
{
font-family:'CairoReg';
src: url('fonts/Cairo-Regular.ttf') format('TrueType');
}

@font-face
{
font-family:'CairoBold';
src: url('fonts/Cairo-Bold.ttf') format('TrueType');
}

@font-face
{
font-family:'DroidNaskh';
src: url('fonts/DroidNaskh-Regular.ttf') format('TrueType');
}

@font-face
{
font-family:'DroidKufi';
src: url('fonts/DroidKufi-Regular.ttf') format('TrueType');
}

@font-face
{
font-family:'Lateef';
src: url('fonts/LateefRegOT.ttf') format('TrueType');
}
@font-face
{
font-family:'Wasm';
src: url('fonts/WasmFont.ttf') format('TrueType');
}

@font-face
{
font-family:'Sche';
src: url('fonts/ScheherazadeRegOT.ttf') format('TrueType');
}

#title{
    padding-top: 1.0em; 
    width: 25%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-family:'CairoBold', sans-serif;
    font-weight: 700; 
    
    /*'DroidKufi';*/
}
#namesP{
	text-align: center;
	/*font-family:  'Amiri';
	 font-family: 'DroidNaskh';*/ 
    font-family:'CairoReg', sans-serif;
    
	font-size: 1.5em;

}

#hint{
	float:right;
	text-align: right;
}

.demo-overlay {
  /*text-align: right;*/
  font-family:'CairoReg', sans-serif;
font-weight: 400;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}
.demo-overlay .hover-area {
  color: #ff9900;
  font-size: 2em;
  position: relative;
  top: 2em;
  left: 2em;
}
.demo-overlay .info {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  margin-bottom: -20px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-bottom: 50px;
  color: #fff;
  transition: all .75s ease-in-out;
}
.demo-overlay .info h1 {
  padding-top: 20;
  margin-top: 40px;
  font-size: 1.5em;
  font-family: 'CairoBold'; 
}
.demo-overlay .info p {
 /* font-family: 'DroidNaskh';*/
}

.demo-overlay .info a {
 color:rgb(59,137,201);
}
.demo-overlay:hover .info {
  max-height: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
}
.demo-overlay .footer {

}
.demo-overlay .twitter-share-button, .demo-overlay .twitter-follow-button {
  margin-left: 10px;
}
#twitter-widget-0 {
  margin-bottom: -5px;
}
.demo-overlay a.follow-link {
  float: right;
  color: #33bbff;
}

@media (max-width: 600px) {
  .demo-overlay a.follow-link {
    float: left;
  }
}
